@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f1f1f1;
}

.movieList {
    height: 100%;
    width: 50%;
    background-color: #f9f8fd;
    top: 100px;
    margin-top: 100px;
    margin: auto;
    border: 3px solid gray;
}

.movie {
  border: 1px solid gray;
  padding: 30px;
  text-align: center;
  margin-bottom: 40px;
}
.header {
  border: 3px solid #3a4660;
  text-align: center;
  background-color: #3a4660;
  margin-bottom: 50px;
}
